@use "/styles/breakpoints";

.header {
  background: var(--color-dark) repeat;
  color: var(--color-light);
  padding: 15em 0 5em;
}

.headerIsLightColorScheme {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    "Title Title Image"
    "Share Share Image";
}
.Title {
  grid-area: Title;
}
.Share {
  grid-area: Share;
}
.Image {
  grid-area: Image;
}
