@use "/styles/breakpoints";

// Establish a 12x3 grid
.headerGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content min-content min-content;
  gap: 1em;
}

// Lay out content for xs
.headerGridTitle {
  grid-column: 1 / 13;
  grid-row: 1 / 1;
}
.headerGridImage {
  grid-column: 1 / 13;
  grid-row: 2 / 2;
  max-height: 40vh;
  justify-self: center;
}

@media screen and (min-width: breakpoints.$breakpoint-lg) {
  .headerGridTitle {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
  }
  .headerGridImage {
    grid-column: 9 / 13;
    grid-row: 1 / 3;
    justify-self: end;
  }
}

.main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

// Based on the Rippling embed css: https://assets.rippling-ats.com/stylesheets/embed.css
.ripplingJobs {
  :global {
    .ht-apply-link {
      display: block;
      margin-bottom: 2em;
    }

    .ht-title-link {
      display: block;
      font-size: var(--h4);
    }

    .ht-summary {
    }

    .ht-location {
      font-size: 0.8em;
    }

    .ht-no-positions {
      font-size: var(--h4);
    }
  }
}
