.container {
  width: 22.438em;
}

.marginCenter {
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.nowrap {
  flex-wrap: nowrap;
}

.colXs,
.colXs1,
.colXs2,
.colXs3,
.colXs4,
.colXs5,
.colXs6,
.colXs7,
.colXs8,
.colXs9,
.colXs10,
.colXs11,
.colXs12,
.colXsOffset0,
.colXsOffset1,
.colXsOffset2,
.colXsOffset3,
.colXsOffset4,
.colXsOffset5,
.colXsOffset6,
.colXsOffset7,
.colXsOffset8,
.colXsOffset9,
.colXsOffset10,
.colXsOffset11,
.colXsOffset12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.colXs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.colXs1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.colXs2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.colXs3 {
  flex-basis: 25%;
  max-width: 25%;
}

.colXs4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.colXs5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.colXs6 {
  flex-basis: 50%;
  max-width: 50%;
}

.colXs7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.colXs8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.colXs9 {
  flex-basis: 75%;
  max-width: 75%;
}

.colXs10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.colXs11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.colXs12 {
  flex-basis: 100%;
  max-width: 100%;
}

.colXsOffset0 {
  margin-left: 0;
}

.colXsOffset1 {
  margin-left: 8.33333333%;
}

.colXsOffset2 {
  margin-left: 16.66666667%;
}

.colXsOffset3 {
  margin-left: 25%;
}

.colXsOffset4 {
  margin-left: 33.33333333%;
}

.colXsOffset5 {
  margin-left: 41.66666667%;
}

.colXsOffset6 {
  margin-left: 50%;
}

.colXsOffset7 {
  margin-left: 58.33333333%;
}

.colXsOffset8 {
  margin-left: 66.66666667%;
}

.colXsOffset9 {
  margin-left: 75%;
}

.colXsOffset10 {
  margin-left: 83.33333333%;
}

.colXsOffset11 {
  margin-left: 91.66666667%;
}

.startXs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.centerXs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.endXs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.topXs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middleXs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottomXs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.aroundXs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.betweenXs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.firstXs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.lastXs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem;
  }

  .colSm,
  .colSm1,
  .colSm2,
  .colSm3,
  .colSm4,
  .colSm5,
  .colSm6,
  .colSm7,
  .colSm8,
  .colSm9,
  .colSm10,
  .colSm11,
  .colSm12,
  .colSmOffset0,
  .colSmOffset1,
  .colSmOffset2,
  .colSmOffset3,
  .colSmOffset4,
  .colSmOffset5,
  .colSmOffset6,
  .colSmOffset7,
  .colSmOffset8,
  .colSmOffset9,
  .colSmOffset10,
  .colSmOffset11,
  .colSmOffset12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .colSm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .colSm1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .colSm2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .colSm3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .colSm4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .colSm5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .colSm6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .colSm7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .colSm8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .colSm9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .colSm10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .colSm11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .colSm12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .colSmOffset0 {
    margin-left: 0;
  }

  .colSmOffset1 {
    margin-left: 8.33333333%;
  }

  .colSmOffset2 {
    margin-left: 16.66666667%;
  }

  .colSmOffset3 {
    margin-left: 25%;
  }

  .colSmOffset4 {
    margin-left: 33.33333333%;
  }

  .colSmOffset5 {
    margin-left: 41.66666667%;
  }

  .colSmOffset6 {
    margin-left: 50%;
  }

  .colSmOffset7 {
    margin-left: 58.33333333%;
  }

  .colSmOffset8 {
    margin-left: 66.66666667%;
  }

  .colSmOffset9 {
    margin-left: 75%;
  }

  .colSmOffset10 {
    margin-left: 83.33333333%;
  }

  .colSmOffset11 {
    margin-left: 91.66666667%;
  }

  .startSm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .centerSm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .endSm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .topSm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middleSm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottomSm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .aroundSm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .betweenSm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .firstSm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .lastSm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }

  .colMd,
  .colMd1,
  .colMd2,
  .colMd3,
  .colMd4,
  .colMd5,
  .colMd6,
  .colMd7,
  .colMd8,
  .colMd9,
  .colMd10,
  .colMd11,
  .colMd12,
  .colMdOffset0,
  .colMdOffset1,
  .colMdOffset2,
  .colMdOffset3,
  .colMdOffset4,
  .colMdOffset5,
  .colMdOffset6,
  .colMdOffset7,
  .colMdOffset8,
  .colMdOffset9,
  .colMdOffset10,
  .colMdOffset11,
  .colMdOffset12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .colMd {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .colMd1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .colMd2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .colMd3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .colMd4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .colMd5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .colMd6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .colMd7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .colMd8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .colMd9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .colMd10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .colMd11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .colMd12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .colMdOffset0 {
    margin-left: 0;
  }

  .colMdOffset1 {
    margin-left: 8.33333333%;
  }

  .colMdOffset2 {
    margin-left: 16.66666667%;
  }

  .colMdOffset3 {
    margin-left: 25%;
  }

  .colMdOffset4 {
    margin-left: 33.33333333%;
  }

  .colMdOffset5 {
    margin-left: 41.66666667%;
  }

  .colMdOffset6 {
    margin-left: 50%;
  }

  .colMdOffset7 {
    margin-left: 58.33333333%;
  }

  .colMdOffset8 {
    margin-left: 66.66666667%;
  }

  .colMdOffset9 {
    margin-left: 75%;
  }

  .colMdOffset10 {
    margin-left: 83.33333333%;
  }

  .colMdOffset11 {
    margin-left: 91.66666667%;
  }

  .startMd {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .centerMd {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .endMd {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .topMd {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middleMd {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottomMd {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .aroundMd {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .betweenMd {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .firstMd {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .lastMd {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 76em) {
  .container {
    width: 75rem;
  }

  .colLg,
  .colLg1,
  .colLg2,
  .colLg3,
  .colLg4,
  .colLg5,
  .colLg6,
  .colLg7,
  .colLg8,
  .colLg9,
  .colLg10,
  .colLg11,
  .colLg12,
  .colLgOffset0,
  .colLgOffset1,
  .colLgOffset2,
  .colLgOffset3,
  .colLgOffset4,
  .colLgOffset5,
  .colLgOffset6,
  .colLgOffset7,
  .colLgOffset8,
  .colLgOffset9,
  .colLgOffset10,
  .colLgOffset11,
  .colLgOffset12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .colLg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .colLg1 {
    flex-basis: 6.5%;
  }

  .colLg2 {
    flex-basis: 15%;
  }

  .colLg3 {
    flex-basis: 23.5%;
  }

  .colLg4 {
    flex-basis: 32%;
  }

  .colLg5 {
    flex-basis: 40.5%;
  }

  .colLg6 {
    flex-basis: 49%;
  }

  .colLg7 {
    flex-basis: 57.5%;
  }

  .colLg8 {
    flex-basis: 66%;
  }

  .colLg9 {
    flex-basis: 72.5%;
  }

  .colLg10 {
    flex-basis: 89.5%;
  }

  .colLg11 {
    flex-basis: 91.5%;
  }

  .colLg12 {
    flex-basis: 100%;
  }

  .colLgOffset0 {
    margin-left: 0;
  }

  .colLgOffset1 {
    margin-left: 6.5%;
  }

  .colLgOffset2 {
    margin-left: 15%;
  }

  .colLgOffset3 {
    margin-left: 23.5%;
  }

  .colLgOffset4 {
    margin-left: 32%;
  }

  .colLgOffset5 {
    margin-left: 40.5%;
  }

  .colLgOffset6 {
    margin-left: 49%;
  }

  .colLgOffset7 {
    margin-left: 57.5%;
  }

  .colLgOffset8 {
    margin-left: 66%;
  }

  .colLgOffset9 {
    margin-left: 72.5%;
  }

  .colLgOffset10 {
    margin-left: 89.5%;
  }

  .colLgOffset11 {
    margin-left: 91.5%;
  }

  .startLg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .centerLg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .endLg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .topLg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middleLg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottomLg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .aroundLg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .betweenLg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .firstLg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .lastLg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 100em) {
  .container {
    width: 101rem;
  }

  .colXl,
  .colXl1,
  .colXl2,
  .colXl3,
  .colXl4,
  .colXl5,
  .colXl6,
  .colXl7,
  .colXl8,
  .colXl9,
  .colXl10,
  .colXl11,
  .colXl12,
  .colXlOffset0,
  .colXlOffset1,
  .colXlOffset2,
  .colXlOffset3,
  .colXlOffset4,
  .colXlOffset5,
  .colXlOffset6,
  .colXlOffset7,
  .colXlOffset8,
  .colXlOffset9,
  .colXlOffset10,
  .colXlOffset11,
  .colXlOffset12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .colXl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .colXl1 {
    flex-basis: 6.5%;
  }

  .colXl2 {
    flex-basis: 15%;
  }

  .colXl3 {
    flex-basis: 23.5%;
  }

  .colXl4 {
    flex-basis: 32%;
  }

  .colXl5 {
    flex-basis: 40.5%;
  }

  .colXl6 {
    flex-basis: 49%;
  }

  .colXl7 {
    flex-basis: 57.5%;
  }

  .colXl8 {
    flex-basis: 66%;
  }

  .colXl9 {
    flex-basis: 72.5%;
  }

  .colXl10 {
    flex-basis: 89.5%;
  }

  .colXl11 {
    flex-basis: 91.5%;
  }

  .colXl12 {
    flex-basis: 100%;
  }

  .colXlOffset0 {
    margin-left: 0;
  }

  .colXlOffset1 {
    margin-left: 6.5%;
  }

  .colXlOffset2 {
    margin-left: 15%;
  }

  .colXlOffset3 {
    margin-left: 23.5%;
  }

  .colXlOffset4 {
    margin-left: 32%;
  }

  .colXlOffset5 {
    margin-left: 40.5%;
  }

  .colXlOffset6 {
    margin-left: 49%;
  }

  .colXlOffset7 {
    margin-left: 57.5%;
  }

  .colXlOffset8 {
    margin-left: 66%;
  }

  .colXlOffset9 {
    margin-left: 72.5%;
  }

  .colXlOffset10 {
    margin-left: 89.5%;
  }

  .colXlOffset11 {
    margin-left: 91.5%;
  }

  .startXl {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .centerXl {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .endXl {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .topXl {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middleXl {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottomXl {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .aroundXl {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .betweenXl {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .firstXl {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .lastXl {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
