@use "/styles/shadows";

.card {
  border-radius: 0.5rem;
}

.border {
  border: solid 1px var(--color-divider);
}

.square {
  border-radius: 0;
}

.elevation1 {
  @include shadows.boxShadowElevation1;
}

.elevation2 {
  @include shadows.boxShadowElevation2;
}

.elevation3 {
  @include shadows.boxShadowElevation3;
}

.elevation4 {
  @include shadows.boxShadowElevation4;
}
