.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark2);
  background-image: url(../../img/backgrounds/mesh.png);
  .container {
    h1 {
      text-align: center;
      letter-spacing: 0.1em;
      padding-block: 0.5em;
      max-width: 100%;
      color: var(--color-light);
    }
    h4 {
      text-align: center;
      font-weight: 300;
      font-family: var(--font-copy);
      color: var(--color-light);
    }
  }
}

.professional {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none;
  .container {
    h3 {
      max-width: 28ch;
      padding-block: 0.5em;
      color: var(--color-dark);
    }
    h3::after {
      content: "";
      border-bottom: 5px solid var(--color-dark);
      padding-bottom: 0.5em;
      display: block;
      bottom: 0;
      width: 2em;
      left: 0;
      height: 30px;
    }

    p {
      color: var(--color-dark);
    }
  }
}

.organization {
  background-image: url(../../img/backgrounds/prismOrange.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10em;
  .container {
    h3 {
      max-width: 25ch;
      padding-block: 0.5em;
      color: var(--color-light);
    }

    .subtitle {
      color: var(--color-light);
    }

    .subtitle::after {
      content: "";
      border-bottom: 2px solid var(--color-light);
      padding-bottom: 0.5em;
      display: block;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 30px;
    }

    hr {
      margin-block: 2em;
      display: none;
      color: var(--color-light);
    }
    .prismFeatures {
      display: flex;
      flex-direction: column;

      .prismFeature-item {
        padding-block: 0.5em;
        h5 {
          padding-block: 0.5em;
          color: var(--color-light);
        }

        p {
          color: var(--color-light);
        }
      }
    }
  }
}

.win {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/backgrounds/mesh.svg);

  h3 {
    padding-block: 0.5em;
  }
  h3::after {
    content: "";
    border-bottom: 5px solid #131313;
    padding-bottom: 0.5em;
    display: block;
    bottom: 0;
    width: 1em;
    left: 0;
    height: 30px;
  }

  ul li {
    list-style-type: circle;
    padding-block: 0.5em;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .prismVideo {
    video {
      padding-block: 2em;
      width: 80%;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);

  .container {
    margin-top: 7.5em;
  }

  h4 {
    color: var(--color-light);
    max-width: 30ch;
    padding-block: 0.5em;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      padding: 1em 0;
    }
    label + label {
      margin-left: 1em;
    }

    input {
      margin-block: 0.5em;
      padding-block: 0.5em;
      border-style: none;
      color: var(--color-light);
      font-size: 1.2em;
      width: 60%;
      background-color: transparent;
      border-bottom: 1px solid var(--color-light);
      font-family: var(--font-copy);
    }
    input::placeholder {
      color: var(--color-light);
      font-size: 1.2em;
    }

    textarea {
      margin-block: 2em;
      width: 60%;
      min-height: 50px;
      border-radius: 5px;
      color: var(--color-light);
      font-size: 1.2em;
      background-color: transparent;
      border: 1px solid var(--color-light);
      padding: 2em;
      font-family: var(--font-copy);
    }

    textarea::placeholder {
      color: var(--color-light);
      font-size: 1.2em;
    }

    button {
      margin-block: 0.5em;
      padding: 1.2em 4em;
      border-radius: 0.5em;
      background-color: transparent;
      border: 1px solid var(--color-light);
      color: var(--color-light);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    button:hover {
      color: var(--color-light);
      background-color: var(--color-light);
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    animation-name: zoomies;
    animation-duration: 65s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  .professional {
    background-image: url(../../img/backgrounds/torch_logoPrism.png);
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: flex-end;
    background-position: -25%;

    .container {
      margin-left: 35%;
      h3 {
        font-size: 2.5em;
      }
    }
  }

  .organization {
    animation-name: zoomies;
    animation-duration: 65s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    .prismFeatures {
      flex-direction: row !important;
      gap: 2em;

      .prismFeature-item {
        padding-block: 0.5em;
        h5 {
          padding-block: 0.5em;
          color: var(--color-light);
        }
      }
    }

    .subtitle::after {
      display: none !important;
    }

    hr {
      display: block !important;
    }
  }

  .win {
    .container {
      display: flex;
      flex-direction: row;
      .winPoints {
        width: 100%;
      }
    }
  }

  .prismVideo {
    display: flex;
    justify-content: flex-end;
    video {
      max-width: 80%;
    }
  }
}

@media (min-width: 1600px) {
  .professional {
    background-position: 0;
    .container {
      margin-left: 0;
      h3 {
        font-size: var(--h3);
      }
    }
  }
}

@keyframes zoomies {
  from {
    background-size: 100%;
  }
  to {
    background-size: 150%;
  }
}
