.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1em;
}

.row > * {
  flex-grow: 1;
}

.legal {
  font-size: 0.8em;
}

.header {
  border-radius: 0.5rem 0.5rem 0 0;
  background: var(--color-accent);
  color: var(--color-accent-contrast);
  font-family: var(--font-primary);
  padding: 1.5rem;
  font-size: var(--h4);
}

.form {
  padding: 1.5rem;

  label {
    display: block;
    padding: 1em 0;
  }

  ::placeholder {
    color: #888;
  }

  input {
    padding: 1.2em;
    border-style: none;
    color: var(--color-text-main);
    font-size: 1.2em;
    background-color: transparent;
    border-bottom: 1px solid var(--color-divider);
    font-family: var(--font-copy);
    width: 100%;
  }

  p {
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    font-size: inherit;
    text-decoration: underline;
  }
}

.button {
  margin: 1rem auto;
  padding: 1.2em 3em;
  border-radius: 8em;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.button:hover,
.button:focus {
  background: var(--color-primary);
  border-color: var(--color-primary);
}
