@use "/styles/colors";

.footer {
  background-color: #1b1c1e;
  width: 100%;
  height: auto !important;
}

.footer h3,
.footer h4,
.footer p,
.footer ul li {
  color: #ffffff;
}

.footer a {
  color: var(--pri-clr-midnight);
}

.footer .row {
  align-items: center;
}

.footer > * + * {
  padding: 2em 0;
}

.footerSnap {
  scroll-snap-align: start;
}

.footerTitle h3,
.footerTitle p {
  padding: 0.5em 0;
}

.footerText {
  padding-bottom: 1em;
}
.footerText p {
  max-width: 45ch;
}

.footerForm > * + * {
  padding: 0.5em 0;
}

.footerForm input {
  width: 100%;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #ffffff;
  font-family: var(--font-copy);
  padding: 0.5em 0;
}

.footerForm input + input {
  margin-left: 1em;
}

.footerFormSubmit a[role="button"] {
  color: #fff;
  border: 1px solid #fff;
}

.footerFormSubmit a[role="button"]:hover {
  color: #000;
  border: 1px solid #fff;
}

.footerFormSubmit .socialIcons {
  color: #fff;
  gap: 1em;
  margin-top: auto;
}

.footerFormButton {
  padding: 0.8em 2em;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8em;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

.footerFormButton:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
  cursor: pointer;
}

.footerTerms,
.footerTerms h4 {
  color: #ffffff;
  font-family: var(--font-copy);
}

.footerTerms ul li {
  margin-bottom: 1em;
}

.footerAddress,
.footerAddress h4 {
  color: #ffffff;
  font-family: var(--font-copy);
}

.footerAddress ul li {
  margin-bottom: 1em;
}

.footerCopy {
  align-items: center;
}

.footerCopy p {
  margin-top: auto;
}

.gap {
  gap: 2em;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}
