.searchBar {
  background: white;
  padding: 0.1em 0.4em;
  margin-top: -0.1em;
}

.searchBar.isLightColorScheme {
  border-bottom: 2px solid var(--color-dark);
}

.searchBar input {
  border: none;
  outline: none;
  font-family: var(--font-copy);
  font-size: var(--base-size);
}

.icon {
  cursor: pointer;
}

.searchResult {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5em;
  overflow: hidden;
}

.searchResult:last-of-type {
  margin-bottom: 1.5em;
}

.searchResult h5 {
  cursor: pointer;
}

.meta {
  font-size: 0.9em;
}
