.contentCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.circleIcon {
  padding: 5em 0;
}

.icon {
  color: #f7941e;
  transition: all 0.7s ease-out !important;
}

.icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.hero {
  z-index: 1000;
  position: relative;
  background: #131313 url(../../img/backgrounds/hero_mobile.png) center center;
  background-size: cover;

  .container {
    justify-content: center;
  }
}

.hero h1 {
  color: #fff;
  padding-top: 3em;
  padding-bottom: 1em;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  display: none;
}

//  Statement
.statement {
  background-color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5em 0;

  .statementImage {
    display: none;
  }

  h3 {
    padding-bottom: 0.5em;
    font-size: 3em;
    max-width: 100%;
  }

  p {
    padding: 0.5em 0;
  }

  svg {
    margin: 1em 0;
  }

  .statementItem {
    padding: 0.5em 0;

    p {
      max-width: 100%;
    }

    h3 {
      max-width: 100%;
    }
  }

  a[role="button"] {
    color: black;
    border: 1px solid black;
    padding: 0.8em 2em;
    border-radius: 8em;
    display: inline-block;
    margin: 0.5em 0;
  }

  a[role="button"]:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
  }
}

//  Nexus

.nexus {
  position: relative;
  background: #b15400;
  display: flex;
  align-items: center;
}

.nexusBackground {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nexusContent {
  position: relative;
  z-index: 1;
}

.nexusStats {
  justify-content: space-between;

  .large {
    font-size: 7em;
  }
}

.nexusStats h2 {
  padding: 0.2em 0;
  color: #ffffff;
}

.nexusStats p {
  color: #ffffff;
}

.nexus hr {
  color: #fff;
  margin: 2em 0;
  border-style: solid;
}

.nexusPoints,
.nexus p {
  color: #ffffff;
  padding: 1em 0;
}

.nexusPoints svg {
  display: none;
}

//  Enhance
.enhance {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
  background-color: #ffffff;
}

.enhance h2 {
  color: #232730;
  padding-bottom: 1em;
}

.enhanceContent {
  justify-content: flex-end;
}

.enhanceContent a[role="button"] {
  color: #131313;
  border: 1px solid black;
  margin: 1em 0;
}

.enhanceContent a[role="button"]:hover {
  background-color: black;
  color: white;
}

.enhance p {
  padding: 1em 0;
}

//  impact

.impact {
  display: flex;
  align-items: center;
  background-color: #232730;
  padding: 5em 0;
}

.impact h2 {
  color: #ffffff;
}

.impactTitle {
  display: flex;
  justify-content: center;
  padding: 3em 0;
}

.impactContainer {
  display: flex;
  justify-content: space-evenly;
}

.impactContainerItem {
  position: relative;
  padding: 5em;
  margin: 1em 0;
  color: #ffffff;
}

.impactContainerContent {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1em;

  a {
    color: white;
  }
  a:hover {
    border-bottom: 1px solid white;
  }
}

.impactMicrosoft {
  background-image: url(../../img/companies/microsoft.png);
  background-position: center center;
}

.impactHr {
  background-image: url(../../img/companies/hr.png);
  background-position: center center;
}

.impactRaytheon {
  background-image: url(../../img/companies/raytheon.png);
  background-position: center center;
}

.impactNavy {
  background-image: url(../../img/companies/navy.png);
  background-position: center center;
}

.statement2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../img/backgrounds/02.png) no-repeat center center;
  background-size: cover;
}

.statement2 h3,
.statement2 p {
  color: #ffffff;
  padding: 0.5em 0;
}

.statement2 h3 {
  max-width: 40ch;
}

.statement2Content {
  display: flex;
  flex-direction: column;
}

.statement2Button {
  padding: 3em 0;
  display: flex;
}

.statement2Button:hover {
  color: black;
}

.statement2Video {
  width: 100%;
}

.news {
  background-color: #ffffff;
  background-image: url(../../img/backgrounds/mesh.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@keyframes zoomies {
  from {
    background-size: cover;
  }
  to {
    background-size: 150%;
  }
}

@keyframes zoomAbsolutes25Percent {
  from {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  to {
    top: -25%;
    bottom: -25%;
    left: -25%;
    right: -25%;
  }
}

@media only screen and (min-width: 64em) {
}
@media only screen and (min-width: 76em) {
}
@media only screen and (min-width: 100em) {
  .backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    display: block;
  }

  .hero {
    z-index: 1000;
    position: relative;
    background: #131313;

    .container {
      justify-content: center;
    }

    h1 {
      animation-duration: 2s;
      animation-delay: 38.5s;
      animation-name: slidein;
      opacity: 0;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }

  .circleIcon {
    padding: 5em 0;
    animation-duration: 2s;
    animation-delay: 39s;
    animation-name: slidein;
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  .nexusBackground {
    animation-name: zoomAbsolutes25Percent;
    animation-duration: 65s;
    animation-iteration-count: 1;
  }

  .enhance {
    display: flex;
    align-items: center;
    background-color: #ffffff;
  }

  .statement2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../img/backgrounds/02.png) no-repeat center center;
    background-size: cover;
    animation-name: zoomies;
    animation-duration: 65s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  .impactContainerItem {
    padding: 10em;
  }

  .hero h1 {
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .enhance {
    justify-content: stretch;
    padding: 0;
  }

  .enhance h2 {
    color: #232730;
    padding-bottom: 1em;
  }

  .enhance h2::after {
    content: "";
    border-bottom: 5px solid #131313;
    padding-bottom: 0.5em;
    display: block;
    bottom: 0;
    width: 1em;
    left: 0;
    height: 30px;
  }
  .nexusPoints svg {
    margin: 1em 0;
    display: block;
  }

  .hero h1 {
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .enhance {
    justify-content: stretch;
  }

  .enhance h2 {
    color: #232730;
    padding-bottom: 1em;
  }

  .enhance h2::after {
    content: "";
    border-bottom: 5px solid #131313;
    padding-bottom: 0.5em;
    display: block;
    bottom: 0;
    width: 1em;
    left: 0;
    height: 30px;
  }
  .nexusPoints svg {
    margin: 1em 0;
    display: block;
  }

  .statement {
    text-align: left;

    .statementImage {
      display: block;
    }

    .statementItem {
      text-align: left;
    }

    h3::after {
      content: "";
      border-bottom: 5px solid #131313;
      padding-bottom: 0.2em;
      display: block;
      bottom: 0;
      width: 1em;
      left: 0;
      height: 30px;
    }
  }

  .news {
    padding: 0;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
