.accordian {
  max-width: 400px;
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid white;
  margin: 1em 0;
}

.accordian__label,
.accordian__content {
  padding: 14px 20px;
}

.accordian__label {
  display: block;
  color: white;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: all 0.3s !important;
}

.accordian__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordian__label::after {
  content: "+";
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  transition: transform 0.4s;
}

.accordian__content {
  line-height: 1.5;
  display: none;
}

.accordian__input {
  display: none;
}

.accordian__input:checked ~ .accordian__content {
  display: block;
}

.accordian__input:checked ~ .accordian__label::after {
  content: "-";
}
