.accordian {
  max-width: 400px;
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid white;
  margin: 1em 0;
}

.accordianLabel,
.accordianContent {
  padding: 14px 20px;
}

.accordianLabel {
  display: block;
  color: white;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: all 0.3s !important;
}

.accordianLabel:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordianLabel::after {
  content: "+";
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  transition: transform 0.4s;
}

.accordianContent {
  line-height: 1.5;
  display: none;
}

.accordianInput {
  display: none;
}

.accordianInput:checked ~ .accordianContent {
  display: block;
}

.accordianInput:checked ~ .accordianLabel::after {
  content: "-";
}
