.carrers__content {
    padding-top: 15em;
    color: white;
}

.carrers__content p {
    padding: 1em 0;
    max-width: 50ch;
    line-height: 2;
}

.job-list h2 {
    padding-bottom: 1em 0;
    color: white;
}

.job-card {
    color: white;
    padding: 2em 0;
}
