.intro {
    background-color: hsl(220, 16%, 11%);
    padding: 5em;
}

.carrers__content {
    padding: 5em 0;
    color: white;
}

.carrers__content p {
    padding: 1em 0;
    max-width: 50ch;
    line-height: 2;
}

.job-list {
    padding: 5em 0;

    h2 {
        padding: 1em 0;
        color: hsl(220, 16%, 11%);
    }

    .job-card {
        color: hsl(220, 16%, 11%);
        border: 1px solid hsl(220, 16%, 11%);
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        border-radius: 5px;
        margin: 1em 0;
        padding: 2em;
        color: white;
        background: hsl(222, 14%, 15%);

        p {
            padding: 0.5em 0;
        }
    }

    a[role="button"] {
        margin: 1em 0;
        color: white;
        border: 1px solid white;
        padding: 0.8em 1em;
        font-size: 1em;
    }
    a[role="button"]:hover {
        background-color: white;
        color: hsl(220, 16%, 11%);
    }
}
