@use "/styles/colors";

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15em 0;
    position: relative;
    z-index: 1;
}

// HERO

.hero {
    z-index: 1000;
    position: relative;
    align-items: center;
    background: url(../../img/backgrounds/kansas.png);
    background-size: cover;
}

.hero h2 {
    color: #fff;
    max-width: 50ch;
}

.hero p {
    color: #fff;
    padding: 2em 0;
    max-width: 50ch;
}

// History

.history {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0;
}

// Our Culture

//  Enhance
.culture {
    display: flex;
    align-items: center;
    padding: 5em 0;
    background-color: #ffffff;
}
.culture h3 {
    color: #232730;
    padding: 1em 0;
}

.culture h3::after {
    content: "";
    border-bottom: 5px solid black;
    padding-bottom: 0.5em;
    display: block;
    bottom: 0;
    width: 1em;
    left: 0;
    height: 10px;
}

.culture__content {
    justify-content: flex-end;
}

.culture p {
    padding: 1em 0;
}

.leadership {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    background-image: url(../../img/backgrounds/iStock-1125703881.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.leadership h3 {
    padding: 1em 0;
    color: #ffffff;
}

.leadership h3::after {
    content: "";
    border-bottom: 5px solid #ffffff;
    padding-bottom: 0.5em;
    display: block;
    bottom: 0;
    width: 1em;
    left: 0;
    height: 10px;
}

.leadership p {
    padding: 1em 0;
    color: #ffffff;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0;
    background-color: #ffffff;
}

.gallery__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}
.gallery__title h3 {
    padding: 1em 0;
}

.gallery__title p {
    text-align: center;
    max-width: 60ch;
    font-size: 1em;
    padding: 0.5em 0;
}

.gallery__layout-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h5 {
        font-size: 1.2em;
        padding-top: 1em;
    }
}

.careers {
    display: flex;
    align-items: center;
    padding: 5em 0;
    background-color: #ffffff;
}

.careers h2 {
    color: #232730;
    padding: 1em 0;
}

.careers h2::after {
    content: "";
    border-bottom: 5px solid black;
    padding-bottom: 0.5em;
    display: block;
    bottom: 0;
    width: 1em;
    left: 0;
    height: 10px;
}

.careers__content {
    justify-content: flex-end;
}

.careers p {
    padding: 1em 0;
}

.careers a[role="button"] {
    color: black;
    border: 1px solid black;
    margin: 1em 0;
}
.careers a[role="button"]:hover {
    background-color: black;
    color: white;
}

@keyframes zoomies {
    from {
        background-size: 100%;
    }
    to {
        background-size: 150%;
    }
}

@media only screen and (min-width: 75em) {
    .gallery {
        background-color: white;
    }

    .careers {
        background-image: url(../../img/backgrounds/gallerypic.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .culture {
        background-image: url(../../img/backgrounds/logo_image2.svg);
        background-repeat: no-repeat;
        background-position: center right -10%;
        background-size: contain;
    }

    .hero {
        background: url(../../img/backgrounds/kansas.png);
        animation-name: zoomies;
        animation-duration: 50s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
}
