@use "/styles/colors";

.background {
    color: white;
    p {
        padding: 1em 0;
        max-width: 50ch;
    }

    h2 {
        padding: 1em 0;
    }

    &:first-child {
        background: url("../../img/backgrounds/12.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &:nth-child(2) {
        background: url("../../img/backgrounds/05.png");
    }
    &:nth-child(3) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(4) {
        background: url("../../img/backgrounds/13.png");
    }
    &:nth-child(5) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(6) {
        background: url("../../img/backgrounds/14.png");
    }
    &:nth-child(7) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(8) {
        background: url("../../img/backgrounds/15.png");
    }
    &:nth-child(9) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(10) {
        background: url("../../img/backgrounds/16.png");
    }
    &:nth-child(11) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(12) {
        background: url("../../img/backgrounds/17.png");
    }
    &:nth-child(13) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(14) {
        background: url("../../img/backgrounds/18.png");
    }
    &:nth-child(15) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(16) {
        background: url("../../img/backgrounds/19.png");
    }
    &:nth-child(17) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(18) {
        background: url("../../img/backgrounds/20.png");
    }
    &:nth-child(20) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(21) {
        background: url("../../img/backgrounds/21.png");
    }
    &:nth-child(22) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(23) {
        background: url("../../img/backgrounds/22.png");
    }
    &:nth-child(24) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(25) {
        background: url("../../img/backgrounds/23.png");
    }
    &:nth-child(26) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(27) {
        background: url("../../img/backgrounds/24.png");
    }
    &:nth-child(28) {
        background: hsl(220, 16%, 11%);
    }
    &:nth-child(29) {
        background: url("../../img/backgrounds/25.png");
    }
}

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15em 0;
    position: relative;
    z-index: 1;
}

.circle-icon {
    padding: 2em 0;
}

.icon {
    color: #f7941e;
    transition: all 0.7s ease-out !important;
}

.icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

.hero h2 {
    color: #fff;
    max-width: 50ch;
}

.hero p {
    color: #fff;
    padding: 2em 0;
    max-width: 50ch;
}

@keyframes zoomies {
    from {
        background-size: 100%;
    }
    to {
        background-size: 150%;
    }
}
