@use "/styles/colors";

.container {
    width: min(90%, 1200px);
    margin-inline: auto;
}

.sol-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        padding: max(2rem, 1rem) 0;
        max-width: 100%;
    }
    h2 {
        width: min(20ch, 100%);
        margin-inline: auto;
    }
}

.sol-subtitle {
    display: flex;

    align-items: center;
    height: 100%;
    justify-content: flex-start;

    p {
        padding: max(2rem, 1rem) 0;
        width: min(45ch, 100%);
    }
}

.sol-content {
    .container {
        display: flex;
        flex-direction: column;
        width: min(90%, 800px);
        margin-left: auto;
        margin-right: 0;
    }

    p {
        padding: max(0.5rem, 1rem) 0;
        width: min(45ch, 100%);
    }
}

.desktop-only {
    display: none;
}

@media (min-width: "1200px") {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: flex;
    }
}
