.test {
    background-color: #131313a6;
}

.test2 {
    background-color: white;
}

.test3 {
    background: url("https://picsum.photos/seed/picsum/1000/1500") no-repeat center center;
    background-size: cover;
}
