.editing {
  cursor: pointer;
  outline: 3px solid lightblue;
  display: block;
}

.editing::before {
  content: "Click to edit";
  background: lightblue;
  width: 100px;
  font-size: 14px;
  position: relative;
  display: block;
  color: black;
  text-align: left;
  font-weight: normal;
}
