@mixin colors {
  --color-dark2: hsl(220, 16%, 11%);
  --color-dark: #22262f;
  --color-dark-emphasis: #12161f;
  --color-light: hsl(0, 0%, 98%);
  // Semantics
  --color-link-main: var(--color-primary);
  --color-text-main: var(--color-dark);
  --color-text-emphasis: var(--color-dark-emphasis);
  --color-primary: #f7951d;
  --color-accent: #5c95e0;
  --color-accent2: #fcbc45;
}

// https://colorhunt.co/palette/9e83b97f7c82e6ddc4f8f8ff
