@mixin colors {
  --color-dark2: hsl(220, 16%, 11%);
  --color-dark: #22262f;
  --color-light: hsl(0, 0%, 98%);
  --color-primary: hsl(33, 93%, 54%);
  --color-accent: hsl(214, 68%, 62%);
  --color-accent2: hsl(39, 98%, 63%);
}

// https://colorhunt.co/palette/9e83b97f7c82e6ddc4f8f8ff
