@mixin colors {
  --color-dark2: hsl(220, 16%, 11%);
  --color-dark: #22262f;
  --color-light: hsl(0, 0%, 98%);
  --color-primary: #f7951d;
  --color-accent: #5c95e0;
  --color-accent2: #fcbc45;
}

// https://colorhunt.co/palette/9e83b97f7c82e6ddc4f8f8ff
