@use "../styles/colors";

@font-face {
  font-family: "Quasimoda";
  src: url("../assets/fonts/Quasimoda/Quasimoda-Light.eot");
  src: url("../assets/fonts/Quasimoda/Quasimoda-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Quasimoda/Quasimoda-Light.woff2") format("woff2"),
    url("../assets/fonts/Quasimoda/Quasimoda-Light.woff") format("woff"),
    url("../assets/fonts/Quasimoda/Quasimoda-Light.svg#Quasimoda") format("svg");
}

@font-face {
  font-family: "DINPro-Bold";
  src: url("../assets/fonts/DINPro-Bold/DINPro-Bold.eot");
  src: url("../assets/fonts/DINPro-Bold/DINPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/DINPro-Bold/DINPro-Bold.woff2") format("woff2"),
    url("../assets/fonts/DINPro-Bold/DINPro-Bold.woff") format("woff"),
    url("../assets/fonts/DINPro-Bold/DINPro-Bold.svg#DIN Pro") format("svg");
}

@mixin fonts {
  --font-primary: "DINPro-Bold", sans-serif;
  --font-copy: "Quasimoda", sans-serif;
  --base-size: 1.1rem; // 16px
  --type-scale: 1.2;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
}

p,
a,
li {
  font-size: var(--base-size);
  font-family: var(--font-copy);
  line-height: 1.5;
  max-width: 40ch;
}

label {
  font-family: var(--font-copy);
}

h1 {
  font-size: var(--h1);
  font-family: var(--font-primary);
  max-width: 20ch;
}

h2 {
  font-size: var(--h2);
  font-family: var(--font-primary);
  max-width: 20ch;
}

h3 {
  font-size: var(--h3);
  font-family: var(--font-primary);
  max-width: 20ch;
}

h4 {
  font-size: var(--h4);
  font-family: var(--font-primary);
}

h5 {
  font-size: var(--h5);
  font-family: var(--font-primary);
}

sup {
  font-size: 0.3em;
}
